{% extends 'base.html' %} {% block content %}

<h1>{{ writer.name }}</h1>

<div>
	<div>
		<p>Birth: {{ writer.birth }}</p>
		{% if writer.death > 0 %}
		<p>Death: {{ writer.death }}</p>
		{% else %}
		<p>Death: N/A</p>
		{% endif %}
		<p>Notable Works: {{ writer.works }}</p>
		<p>{{ writer.quote }}</p>
	</div>
</div>
<hr />

<div class="col s6">
	{% comment %} <form action="{% url 'add_routine' writer.id %}" method="post">
    {% csrf_token %}
    {{ routine_form.as_p }}
    <input type="submit" value="Add Routine">
  </form> 
 <hr /> {% endcomment %}
		<table class="striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Dawn</th>
					<th>Sunrise</th>
					<th>Morning</th>
					<th>Noon</th>
					<th>Afternoon</th>
					<th>Evening</th>
					<th>Sunset</th>
					<th>Dusk</th>
					<th>Night</th>
					<th>Midnight</th>
					<th>Source</th>
				</tr>
			</thead>
			<tbody>
				{% for routine in writer.routine_set.all %}
				<tr>
					<td>{{routine.title}}</td>
					{% if routine.dawn == '0' %}
					<p>Dawn: N/A</p>
					{% else %}
					<td>{{routine.dawn}}</td>
					{% endif %}
					<td>{{routine.dawn}}</td>
					<td>{{routine.sunrise}}</td>
					<td>{{routine.morning}}</td>
					<td>{{routine.noon}}</td>
					<td>{{routine.afternoon}}</td>
					<td>{{routine.evening}}</td>
					<td>{{routine.sunset}}</td>
					<td>{{routine.dusk}}</td>
					<td>{{routine.night}}</td>
					<td>{{routine.midnight}}</td>
					<td>{{routine.source}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
