{% extends 'base.html' %} {% block content %}
<hr />
<div>
	<p>
		<a href="{% url 'index' %}">Return to all writers</a>
	</p>
</div>

<div>
	<h1>{{ writer.name }}</h1>
</div>

<div class="container">
	<div class="row align-items-start">
		<div class="col">
			<div>
				{% for photo in writer.photo_set.all %}
				<div>
					<img src="{{photo.url}}" width="100%" />
					{% empty %}
					<div>No Photos Uploaded</div>
					{% endfor %}
				</div>
				<div>
					<p><b>Birth</b>: {{ writer.birth }}</p>
					{% if writer.death > 0 %}
					<p><b>Death</b>: {{ writer.death }}</p>
					{% else %}
					<p><b>Death</b>: N/A</p>
					{% endif %}
					<p><b>Known For</b>: {{ writer.works }}</p>
					<p><i>{{ writer.quote }}</i></p>
				</div>
			</div>
		</div>

		<div class="col">
			{% for routine in writer.routine_set.all %}
			<div>
				<ul>
					<li><a href="{{routine.source}}">{{routine.title}}</a></li>
					{% if routine.dawn == '0' %}
					<li>Dawn: N/A</li>
					{% else %}
					<li>{{routine.dawn}}</li>
					{% endif %}
					<li>{{routine.dawn}}</li>
					<li>{{routine.sunrise}}</li>
					<li>{{routine.morning}}</li>
					<li>{{routine.noon}}</li>
					<li>{{routine.afternoon}}</li>
					<li>{{routine.evening}}</li>
					<li>{{routine.sunset}}</li>
					<li>{{routine.dusk}}</li>
					<li>{{routine.night}}</li>
					<li>{{routine.midnight}}</li>
				</ul>
				{% endfor %}
			</div>
		</div>
		<hr />
	</div>
</div>

{% endblock %}
