{% extends 'base.html' %} {% block content %}
<hr />
<div>
	<p>
		<a href="{% url 'index' %}">Return to all writers</a>
	</p>
</div>

<div class="container">
	<h1>{{ writer.name }}</h1>
</div>

<div class="container">
	<div class="row align-items-start">
		<div class="col">
			<div>
				{% for photo in writer.photo_set.all %}
				<div>
					<img id="writer-img" src="{{photo.url}}" width="100%" />
					{% empty %}
					<div>No Photos Uploaded</div>
					{% endfor %}
				</div>
				
				<div>
					<p><b>Birth</b>: {{ writer.birth }}</p>
					{% if writer.death > 0 %}
					<p><b>Death</b>: {{ writer.death }}</p>
					{% else %}
					<p><b>Death</b>: N/A</p>
					{% endif %}
					<p><b>Known For</b>: {{ writer.works }}</p>
					<p><i>{{ writer.quote }}</i></p>
				</div>
			</div>
		</div>

		<div class="col" id="routine-text">
			{% for routine in writer.routine_set.all %}
			<div>
				<ul>
					<u id="routine-title-text"><a href="{{routine.source}}">{{routine.title}}</a></u></li>
					{% if routine.dawn == '' %}
					{% else %}
					<li>{{routine.dawn}}</li>
					{% endif %}

					{% if routine.sunrise == '' %}
					{% else %}
					<li>{{routine.sunrise}}</li>
					{% endif %}

					{% if routine.morning == '' %}
					{% else %}
					<li>{{routine.morning}}</li>
					{% endif %}

					{% if routine.noon == '' %}
					{% else %}
					<li>{{routine.noon}}</li>
					{% endif %}

					{% if routine.afternoon == '' %}
					{% else %}
					<li>{{routine.afternoon}}</li>
					{% endif %}

					{% if routine.evening == '' %}
					{% else %}
					<li>{{routine.evening}}</li>
					{% endif %}

					{% if routine.sunset == '' %}
					{% else %}
					<li>{{routine.sunset}}</li>
					{% endif %}

					{% if routine.dusk == '' %}
					{% else %}
					<li>{{routine.dusk}}</li>
					{% endif %}

					{% if routine.night == '' %}
					{% else %}
					<li>{{routine.night}}</li>
					{% endif %}

					{% if routine.midnight == '' %}
					{% else %}
					<li>{{routine.midnight}}</li>
					{% endif %}

				</ul>
				{% endfor %}
			</div>
		</div>
		<hr />
	</div>
</div>

{% endblock %}
