{% extends 'base.html' %} {% block content %}
<hr />

<div>
	<p>
		"What Time Should I Write?" was created by
		<a href="https://github.com/bg-write/what-time-should-i-write"
			>Brady Gerber</a
		>, a morning person, and was built mostly with Python, Django, and Amazon AWS.
	</p>
</div>

<div>
	<p>
		Each writer routine is cited on each writer's individual page pages. All photos are
		taken from Wikipedia.
	</p>
</div>

<div>
	<p>
		I aim to be as accurate as possible, only sharing the routines that writers have
		talked about on record. Sometimes, writers have multiple routines. Sometimes,
		they change their routines over the years. Some routines are super detailed. Others
		are vague, and are more guidelines than routines. I tried my best to present
		each writer's approach towards creativity to stay as
		true as possible to how they worked.
	</p>
</div>

<div>
	<p>
		I'm constantly adding new writers, and updating this database when I can.
	</p>
</div>

<div>
	<p>
		Are there any writers you want me to add? Spot any errors?
		<a href="https://www.linkedin.com/in/brady-gerber/"
			>Connect and let me know!</a
		>
	</p>
</div>

<div>
	<img
		class="rounded float-end"
		width="35%"
		src="https://i.imgur.com/RUvjs9B.png"
	/>
</div>

{% endblock %}
