{% extends 'base.html' %} {% block content %}
<hr />

<div>
	<p>
		"What Time Should I Write?" was created by
		<a href="https://github.com/bg-write/what-time-should-i-write"
			>Brady Gerber</a
		>, a morning person, and was mostly built with Python, Django, and Amazon
		AWS.
	</p>
</div>

<div>
	<p>
		Routines are cited on each writer's individual page. All photos are taken
		from Wikipedia.
	</p>
</div>

<div>
	<p>
		I aim to be as accurate as possible, only sharing the routines that each
		writer has talked about on record. Sometimes, writers have multiple
		routines. Sometimes, they change and fine-tune how they work. Some routines
		are super detailed. Others are vague, and act more like guidelines. Some of
		my favorite writers never discussed their routines. I tried my best to
		present each writer's approach towards creativity to stay as true as
		possible to how they worked.
	</p>
</div>

<div>
	<p>
		I'm adding new writers and updating this database when I can. Any writers
		you want me to add? Spot any errors?
		<a href="https://bradygerber.com/">Connect and let me know!</a>
	</p>
</div>

<div>
	<p>
		For fellow developers, here's the
		<a href="https://github.com/bg-write/what-time-should-i-write">GitHub</a>.
	</p>
</div>

<div>
	<img
		class="rounded float-end"
		width="35%"
		src="https://i.imgur.com/RUvjs9B.png"
	/>
</div>

{% endblock %}
