{% extends 'base.html' %} {% block content %}
<hr />
<h1>What Time Should I Write?</h1>
<div>
	<p>Now, you dork.</p>
	<p>Still not writing?</p>
	<p>Fine. Here are the writing routines of some well-known writers.</p>
	<p>Are you a morning person? Haruki Murakami wakes up at 4AM to write.</p>
	<p>Not a morning person?</p>
	<p>Neither was Kafka. Or Proust.</p>
	<p>Get to it!</p>
</div>

<div>
	<p>
		Created by
		<a href="https://github.com/bg-write/what-time-should-i-write"
			>Brady Gerber</a
		>, a morning person.
	</p>
</div>

<div>
	<p>
		NOTE: All sources of writer routines are cited on their pages. I aim to be
		as accurate as possible, only sharing routines that writers have talked
		about on record. Sometimes writers have multiple routines. Sometimes they
		change their routines over the years. Some are super detailed. Others are
		vague and are more guidelines than routines. I tried my best to present each
		writer approach to creativity in an informative way while staying as true to
		how their worked.
	</p>
</div>

<div>
	<p>
		Are there any writers who you want me to add to this database?
		<a href="https://www.linkedin.com/in/brady-gerber/"
			>Connect and Let me know!</a
		>
	</p>
</div>

{% endblock %}
