{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>What Time Should I Write?</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/style.css' %}"
		/>
	</head>
	<body>
		<header class="navbar navbar-light">
			<div class="container">
				{% if user.is_authenticated %}
				<a id="header-title" href="{% url 'index' %}">
				{% else %}
				<a id="header-title" href="{% url 'home' %}">
				{% endif %}
					<img
						src="https://i.imgur.com/1DAKbpo.jpg"
						alt="snoopy writing"
						width="50"
						height="50"
						class="d-inline-block align-bottom"
					/>
					What Time Should I Write?
				</a>
			</div>
		</header>

		<nav>
			<ul class="nav justify-content-center">
				{% if user.is_authenticated %} {% comment %}
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				{% endcomment %}
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'about' %}"
						>About</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'index' %}"
						>Writers</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'logout' %}"
						>Log Out</a
					>
				</li>
				<!-- Will have to update the adding writer nav link; I want users to be able to upload a request for a writer to add. I do NOT want users to upload these writers themselves. I want all that to happen through the backend. -->
				{% comment %}
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{% url 'writers_create' %}"
						>Want me to add a writer?</a
					>
				</li>
				{% endcomment %} {% else %}
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'signup' %}"
						>Sign Up</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'login' %}"
						>Log In</a
					>
				</li>
				{% endif %}
			</ul>
		</nav>

		<main class="container">{% block content %} {% endblock %}</main>

		<footer class="bg text-center">
			<div>
				All Rights Reserved &copy; Brady Gerber 2021. Styling inspired by the <a
					href="https://www.theparisreview.org/"
					>Paris Review</a
				>. <a href="https://www.house.gov/representatives/find-your-representative"
					>Find Your Local Representatives</a
				>.
			</div>
		</footer>
	</body>
</html>
