{% extends 'base.html' %} {% block content %}
<hr />
<div>
	<h3>Now, you dork.</h3>
	<br />
	<p>Still not writing?</p>
	<p>
		OK, here are the daily routines of some well-known writers to help get you
		started.
	</p>
	<p>
		Are you a morning person? Haruki Murakami wakes up at 4AM every morning to
		write.
	</p>
	<p>Not a morning person? Neither was Kafka.</p>
	<p>Hate routines? So did Dorothy Parker.</p>
	<p>This database is free, all you need to do is sign up and log in.</p>
	<p>Get to it!</p>
</div>

{% endblock %}
